button:hover {
    background-color: lavenderblush;
    border: 2px solid palevioletred;
    border-radius: 3px;
}

button:focus {
    background-color: palevioletred;
    border: 2px solid lavenderblush;
}

#email:disabled {
    background-color:lavender;
}

#name:required {
    background-color: lavenderblush;
}

li:nth-child(even) {
    background-color: aliceblue;
}
