#desktop-section {
    display: none;
}

/* Minimum width */
@media (min-width: 640px) {
    #desktop-section {
        display: block;
    }
    #mobile-section {
        display:none;
    }
}

/* For medium screens */
@media (min-width: 768px) {
    h1 {
        color: aquamarine;
    }
}

/* For Large screens */
@media (min-width: 1024px)

/* For xl screens screens */
@media (min-width: 1280px)

/* For xxl screens */
@media (min-width: 1536px)